{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body style="background-color: #191923; font-family: Raleway">

<main>

    <div class="container">

        <nav style="background-color: #7FB069">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="{% static 'images/logo.png' %}"></a>
                <a href="#" class="sidenav-trigger" data-target="for-mobile">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'quizzes' %}">Quizzes</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="for-mobile">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'quizzes' %}">Quizzes</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>

        {% if messages %}
            {% for message in messages %}
                <div class="toast" style="color: greenyellow; margin-top: 90px">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</main>

<div class="container">

    <footer class="page-footer" style="background-color: #465362">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About us</h5>
                    <p class="grey-text text-lighten-4">We wish to help you learn. The topic at hand is finance and
                        business. Make the world a bit more transparent.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Find us at</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/"><i class="material-icons">facebook</i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/"><i class="material-icons">linkedin</i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://pinterest.com/"><i class="material-icons">pinterest</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 FinEdu
            </div>
        </div>
    </footer>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'javascript/mobilenav.js' %}"></script>

</main>
</body>
</html>