{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: #191923">

<main>

    <div class="container">

        <nav style="background-color: #7FB069">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="{% static 'images/logo.png' %}"></a>
                <a href="#" class="sidenav-trigger" data-target="for-mobile">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'quizzes' %}">Quizzes</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="for-mobile">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'quizzes' %}">Quizzes</a></li>
        </ul>

        {% block content %}
        {% endblock %}
    </div>
</main>

<div class="container">
    <footer class="page-footer" style="background-color: #465362">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About us</h5>
                    <p class="grey-text text-lighten-4">We wish to help you learn. The topic at hand is finance and
                        business. Make the world a bit more transparent.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Find us at</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 FinEdu
            </div>
        </div>
    </footer>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'javascript/mobilenav.js' %}"></script>

</main>
</body>
</html>