{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form method="post" style="margin-top: 180px">
        {% csrf_token %}
        <fieldset style="background-color: #C7F9CC">
            {{ form|crispy }}
        </fieldset>
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Register
            <i class="material-icons right">border_color</i>
        </button>
    </form>
    <div style="color: lightgray;">
        <small>Already signed up? <a href="{% url 'login' %}">Sign In</a></small>
    </div>
    <br>
{% endblock %}